@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_tabular-data';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';

@import 'partials/_lists.scss';
@import 'partials/_layout.scss';
@import 'partials/_autocomplete.scss';
@import 'partials/_hmrc-internal.scss';


#global-header {
  background-color: #FFF;
  border-bottom: 10px solid govuk-colour("turquoise");
}

.header__menu__proposition-name, a.header__menu__proposition-name:visited, .organisation-logo {
  color: #000;
}

.service-info {
  border-top: none;
}

.text-right {
  text-align: right;
}

.associate_ucr {

  &__from {
    width: 20%
  }

  &__to {
    width: 20%
  }

  &__change {
    text-align: right;
    width: 20%;
  }
}

$govuk-assets-path: '/customs-exports-internal/assets/';
$govuk-images-path: "/customs-exports-internal/assets/lib/govuk-frontend/govuk/assets/images/";
$govuk-fonts-path: "/customs-exports-internal/assets/lib/govuk-frontend/govuk/assets/fonts/";
@import 'lib/govuk-frontend/govuk/all';

@import 'partials/_step-by-step-navigation';
